<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.connection.mapper.BoardMapper">
    <select id="selectAllPosts" resultType="com.study.connection.dto.PostListDTO">
        SELECT
            p.id AS id, p.title AS title,
            DATE_FORMAT(p.created_at, '%Y-%m-%d %H:%i') AS createdAt,
            DATE_FORMAT(p.updated_at, '%Y-%m-%d %H:%i') AS updatedAt,
            p.writer AS writer, p.views AS views, c.name AS categoryName
        FROM posts p JOIN category c
            ON p.category_id = c.id
        WHERE p.is_deleted = false
    </select>
</mapper>